apiVersion: apps/v1
kind: Deployment
metadata:
  name: arlon-controller
  namespace: arlon
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: arlon-controller
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/name: arlon-controller
    spec:
      containers:
      - command:
        - /arlon
        - controller
        - --argocd-config-path
        - /.argocd/config
        image: ghcr.io/arlonproj/arlon/controller:0.3.0
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        name: arlon-controller
        ports:
        - containerPort: 8081
          protocol: TCP
        resources:
          limits:
            cpu: 100m
            memory: 30Mi
          requests:
            cpu: 100m
            memory: 20Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - all
          readOnlyRootFilesystem: true
          runAsNonRoot: true
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /.argocd
          name: argocd-creds
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccount: default
      serviceAccountName: default
      terminationGracePeriodSeconds: 30
      volumes:
      - name: argocd-creds
        secret:
          secretName: argocd-creds
