
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: profiles.core.arlon.io
spec:
  group: core.arlon.io
  names:
    kind: Profile
    listKind: ProfileList
    plural: profiles
    singular: profile
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Profile is the Schema for the profiles API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ProfileSpec defines the desired state of Profile. The RepoXXX
              fields are set for a dynamic profile, and empty otherwise.
            properties:
              bundles:
                description: Names of bundles in this profile. Order is not significant.
                items:
                  type: string
                type: array
              description:
                type: string
              overrides:
                description: Optional parameter overrides for specific bundles
                items:
                  properties:
                    bundle:
                      type: string
                    key:
                      type: string
                    value:
                      type: string
                  required:
                  - bundle
                  - key
                  - value
                  type: object
                type: array
              repoPath:
                description: Path within git repository
                type: string
              repoRevision:
                description: Git revision (tag/branch/commit)
                type: string
              repoUrl:
                description: URL of git repository where dynamic profile shall be
                  stored
                type: string
              tags:
                items:
                  type: string
                type: array
            type: object
          status:
            description: ProfileStatus defines the observed state of Profile
            properties:
              state:
                description: State reaches 'synced' value when git repo is synchronized
                  with dynamic profile
                type: string
            required:
            - state
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
